div {
  min-width: 1100px;
  position: relative;
  border-bottom: 1px solid #f00;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

span,
input {
  position: absolute;
  left: 260px;
}

pre.example {
  margin: 0;
  top: 0;
  position: absolute;
  left: 400px;
}