@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\000031}}
div {
  min-width: 1100px;
  position: relative;
  border-bottom: 1px solid #f00;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\000039}}
span,
input {
  position: absolute;
  left: 260px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\0000315}}
pre.example {
  margin: 0;
  top: 0;
  position: absolute;
  left: 400px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\0000322}}
a {
  display: inline-block;
  border: 1px solid white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\0000326}}
a img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\0000330}}
.selected {
  border: 1px solid red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bethcurry\/Documents\/code\/bind\/app\/desktop\/styles\/bind\.scss}line{font-family:\0000334}}
[data-atp="D"] {
  display: none;
}
